@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@font-face {
  font-family: 'Garamond';
  src: url('/fonts/Garamond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('/fonts/Garamond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Lazurski через локальные файлы */
@font-face {
  font-family: 'Lazurski';
  src: url('/fonts/Lazurski-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lazurski';
  src: url('/fonts/Lazurski-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lazurski';
  src: url('/fonts/Lazurski-Cyrillic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0400-04FF; /* для кириллицы */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Lazurski', 'Garamond', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.cursor{
  cursor: pointer;
}
