.add {
	width: 100%;
	margin-left: max(5vw, 25px);
	margin-top: 50px;
	margin-bottom: 50px;
	color: #6d6d6d;
	font-size: 16px;
	max-width: 900px;
}

.item-h2 {
	font-family: "Lazurski";
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.shop-info-divider {
	margin-bottom: 20px;
}

.push-container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, .3);
	border-radius: 30px;
	padding: 20px;
	max-width: 750px;
	width: 100%;
}

.push-field {
  display: flex;
  flex-direction: column;
}

.push-label {
  margin-bottom: 6px;
	font-family: "Lazurski";
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.push-input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
	font-family: "Lazurski";
}

.push-textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 120px;
  resize: vertical;
  font-size: 15px;
	font-family: "Lazurski";
}

.push-btn {
  width: 200px;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
	font-family: "Lazurski";
}

.push-btn:hover {
  background-color: blue;
}

.push-warning {
  padding: 12px;
  background: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 6px;
  color: #856404;
  margin-bottom: 15px;
}

.push-status {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
}