.add {
    width: 100%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    margin-bottom: 50px;
    color: #6d6d6d;
    font-size: 16px;
    max-width: 900px;
}

.item-h2 {
    font-family: "Lazurski";
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.shop-info-divider {
    margin-bottom: 20px;
}

.add form.flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .3);
    border-radius: 30px;
    padding: 20px;
    max-width: 750px;
    width: 100%;
}

.shop-title {
    font-family: "Lazurski";
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.add-shop-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
}

.addshop-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: "Opensans";
    font-size: 15px;
    color: black;
}

.addshop-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.shop-time-container {
    display: flex;
    width: 40px;
    align-items: center;
}

.shop-title-time {
    display: inline-block;
    font-family: "Opensans";
    font-size: 14px;
    color: black;
    width: 50px;
}

.shop-worktime {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.payment-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-form {
    margin-right: 5px;
    width: 23px;
    height: 23px;
}

.payment-form-desc {
    font-family: "Opensans";
    font-size: 13px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}

.add-btn {
    max-width: 100px;
    font-size: 12px;
    border: none;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}