.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 4%;
	background-color: white;
}

.epl-logo {
	width: 50px;
	height: 30px;
}

.navbar-menu__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.reset-shop-button {
	max-width: 80px;
	max-height: 30px;
	font-family: "Lazurski";
	font-size: 10px;
	border: none;
	padding: 5px;
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 5px;
}

.exit-shop-button {
	background-color: black;
	border: none;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logout-icon {
	width: 35px;
	height: 35px;
	filter: brightness(0) invert(1);
}